<app-header class="header" [bgColor]="'bgColor-white'" [visibility]="'show'"></app-header>

<div class="rating-container">
  <div class="helper-image-container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/A_black_image.jpg">
  </div>
  <div class="info-container">
    <div class="info">
      <div class="flex name">
        <h2>Pepe Ramon</h2>
        <span class="age">45</span>
      </div>
      <div class="flex">
        <i class="bi bi-star-fill rating"></i>
        <span class="rating">4.75</span>
      </div>
    </div>  
    <div class="list-container">
      <div *ngFor="let rating of ratings">
        <app-need-card [rating]="rating" [type]="'rating'"></app-need-card>
      </div>
    </div>
  </div>
</div>