<div class="main-screen-container">
    <div class="title-container">
        <h1 class="main-screen-title">Needy</h1>
    </div>
    <div class="button-container">
        <app-needy-button [text]="'Login'" [bgColor]="'bgColor-white'" class="button-needy" routerLink="/login"></app-needy-button>
    </div>
    <!--TODO: Add routerLink to signup-->
    <div class="button-container">
        <app-needy-button [text]="'Sign up'" [bgColor]="'bgColor-lightBlue'" class="button-needy"></app-needy-button>
</div>
