<div class="main-screen-container">
    <div class="title-container">
        <h1 class="main-screen-title">Needy</h1>
    </div>

    <div class="button-container">
        <app-button [text]="'Login'" [bgColor]="'bgColor-white'" class="button-needy" routerLink="/login"></app-button>
    
        <div class="center-or">
            <p class="my-1 text-light px-1 or">or</p>
        </div>
    
        <app-button [text]="'Sign up'" [bgColor]="'bgColor-lightBlue'" class="button-needy" routerLink="/signup"></app-button>
    </div>
</div>
