<div class="form-container">
    <div class="inputs-section">
        <app-input-needy #inputEmail [placeHolder]="'needy@example.com'" [labelTop]="'Email Address'" class="inputNeedy"></app-input-needy>
        <app-input-needy #inputPassword [placeHolder]="''" [labelTop]="'Password'" class="inputNeedy"></app-input-needy>
        <div class="toggler">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Remember me</label>
            </div>
            <a href="/login">Forgot password?</a>
        </div>
    </div>
    <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>
    <div class="button-section"> 
        <app-needy-button [text]="'Login'" [bgColor]="'bgColor-blue'" class="button-needy" (click)="login()"></app-needy-button>
    </div>
</div>