<div class="navbar-container">
    <div class="items-container">
        <div class="item" routerLinkActive="active">
            <a routerLink="/home">
                <i class="bi bi-house"></i>
            </a>
            <p>Home</p>
        </div>
        <div class="item" routerLinkActive="active">
            <a routerLink="/search">
                <i class="bi bi-search"></i>
            </a>
            <p>Search</p>
        </div>
        <div class="item" routerLinkActive="active">
            <a routerLink="/profile">
                <i class="bi bi-person"></i>
            </a>
            <p>Profile</p>
        </div>
    </div>
</div>
