<div class="navbar-container">
    <div class="items-container">
        <div class="first-item">
            <a routerLink="/home">
                <i class="bi bi-house"></i>
            </a>
        </div>
        <div class="second-item">
            <a routerLink="/search">
                <i class="bi bi-search"></i>
            </a>
        </div>
        <div class="third-item">
            <a routerLink="/profile">
                <i class="bi bi-person"></i>
            </a>
        </div>
    </div>
</div>
