<div class="form-container">
    <div class="inputs-section">
        <app-input-needy #inputName [placeHolder]="'Ricardo'" [labelTop]="'First Name'" class="inputNeedy f1"></app-input-needy>
        <app-input-needy #inputLastName [placeHolder]="'Arjona'" [labelTop]="'Last Name'" class="inputNeedy"></app-input-needy>
        <app-input-needy #inputEmail [placeHolder]="'needy@example.com'" [labelTop]="'Email Address'" class="inputNeedy"></app-input-needy>
        <app-input-needy #inputPassword [placeHolder]="''" [labelTop]="'Password'" class="inputNeedy"></app-input-needy>
        <div *ngIf="skills" class="select-container">
            <div class="row gx-2 gy-2 w-100">
                <app-skill-signup
                *ngFor="let skill of skills"
                class="col-4 col-md-4 col-lg-3"
                [skill]="skill"
                (btnClicked)="saveSkill($event)"
                >
                </app-skill-signup>
            </div>
        </div>
    </div>
    <div class="button-section"> 
        <app-needy-button [text]="'Create an account'" [bgColor]="'bgColor-blue'" class="button-needy" (click)="getData()"></app-needy-button>
    </div>
</div>
