.profile-container {
    margin-top: 6rem;
    height: calc(100vh - 10.5rem);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 7rem;
    height: 7rem;
    overflow: hidden;
    border-radius: 50%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    color: #0A2472;
    margin: 2rem 0;
}

.content-container {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.x-menu {
    height: 10%;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid gray;
}

.x-menu p {
    width: 33%;
    color: grey;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    top: 0.85rem;
    position: relative;
    text-align: center;
}

.selected-menu {
    width: 100%;
    color: #0A2472 !important;
    border-bottom: 5px solid #0A2472;
}

.menu-items-container {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.need-card {
    width: 90%;
}

.btn-container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button-needy {
    width: 80vw;
    border-radius: 2rem;
    overflow: hidden;
}

.info-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.input {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

.label {
    color: black;
    font-size: 1rem;
}

.data {
    color: gray;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.skills {
    margin-bottom: 1rem;
    border-bottom: none;
}

ul {
    list-style: none;
    padding: 0;
}

.skill {
    margin-top: 0.5rem;
    background-color: rgb(180, 180, 180);
    color: #0A2472;
    font-weight: 600;
    min-width: 25%;
    max-width: 50%;
    height: 2.2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty::before {
    font-size: 2.5rem;
    color: silver;
}

.message {
    height: 100%;
    color: silver;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}