.need-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: white;
}

.need-image-container {
    width: 100%;
    height: 35%;
    object-fit: cover;
    overflow: hidden;
}

.need-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.need-info-container {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px 25px 0px 0px;
    background-color: white;
    margin-top: -20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    width: 90vw;
}

.bi {
    font-size: 1.7rem;
    margin-right: 1rem;
    color: #0A2472;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.skills {
    margin-top: 1rem;
}

.label {
    font-size: 1.3rem;
    font-weight: 600;
    color: #0A2472;
}

ul {
    list-style: none;
    padding: 0;
}

.skill {
    margin-top: 0.5rem;
    background-color: rgb(180, 180, 180);
    color: #0A2472;
    font-weight: 600;
    min-width: 25%;
    max-width: 50%;
    height: 2.2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 2rem 0;
    font-size: 1.5rem;
    color: #0A2472;
}

.btn-container {
    width: 90vw;
    margin-bottom: 1rem;
}

.btn-creator {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.small {
    width: 30%;
}

.link {
    color: #0D6EFD;
    text-decoration: underline;
}