<app-header class="header" [currentText]="'Profile'" [bgColor]="'bgColor-white'" [visibility]="'show'"></app-header>

<div class="need-container">
    <div class="need-image-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/A_black_image.jpg">
    </div>
    <div class="need-info-container">
        <div class="info">
            <h2>{{need.title}}</h2>
            <p>{{need.description}}</p>
            <span class="info-item">
                <i class="bi bi-person"></i>
                <span class="text">{{need.requestor.firstName}} {{need.requestor.lastName}}</span>
            </span>
            <span class="info-item">
                <i class="bi bi-geo-alt"></i>
                <span class="text">{{need.needAddress}}</span>
            </span>
            <span class="info-item">
                <i class="bi bi-calendar4"></i>
                <span class="text">{{need.needDate | date}}</span>
            </span>
            <span class="info-item">
                <i class="bi bi-map"></i>
                <span class="text">{{need.modality}}</span>
            </span>
            <div class="skills">
                <span class="label">Requested Skills</span>
                <ul *ngFor="let skill of need.requestedSkills">
                    <li class="skill">
                        <span class="data">{{skill.name}}</span>
                    </li>
                </ul>
            </div>
        </div>  
        <div class="btn-container">
            <app-needy-button [text]="'Rating user'" 
                [bgColor]="'bgColor-blue'" 
                class="button-needy" 
                *ngIf="isRequestor == true && isExpired()"
                (click)="redirectToRatingPage()">
            </app-needy-button>
            <app-needy-button [text]="'View appliers'" 
                [bgColor]="'bgColor-blue'" 
                class="button-needy" 
                *ngIf="isRequestor == true && !isExpired()"
                (click)="redirectToAppliersPage()">
            </app-needy-button>
            <app-needy-button [text]="'Apply'" 
                [bgColor]="'bgColor-blue'" 
                class="button-needy" 
                *ngIf="!isRequestor && !isApplied"
                (click)="applyNeed()">
            </app-needy-button>
            <app-needy-button [text]="'Unapply'" 
                [bgColor]="'bgColor-red'" 
                class="button-needy" 
                *ngIf="!isRequestor && isApplied" 
                (click)="unapplyNeed()">
            </app-needy-button>
        </div>
    </div>
</div>
