<app-header class="header" [currentText]="'Search'" [bgColor]="'bgColor-blue'" [visibility]="'show'"></app-header>

<div class="search-container">
    <div class="search-header">
        <div class="search-input">
            <i class="bi bi-search"></i>
            <!-- <input #searchBox class="form-control" type="text" (input)="search(searchBox.value)" placeholder="Search..."> -->
            <input #searchBox class="form-control" type="text" (keyup.enter)="search(searchBox.value)" placeholder="Search...">
        </div>
    </div>
    <div class="content-container">
        <div class="x-menu">
            <p [class.selected-menu]="selectedMenuIndex === 0" (click)="selectMenu(0)">Needies</p>
            <p [class.selected-menu]="selectedMenuIndex === 1" (click)="selectMenu(1)">Helpers</p>
        </div>
        <div class="result-container" *ngFor="let result of results">
            <app-need-card *ngIf="selectedMenuIndex === 0" [need]="result" [type]="'need'"></app-need-card>
            <app-need-card *ngIf="selectedMenuIndex === 1" [user]="result" [type]="'user'"></app-need-card>
        </div>
    </div>
</div>

<app-navbar></app-navbar>
