.rating-title {
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #0a2472;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .header{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .img-container{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }

  .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .name-title {
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #0a2472;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .button-container{
    width: 100%;
    border-radius: 45px;
    overflow: hidden;
    margin-top: 50;
    align-items: center;
    justify-content: center;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.btn{
    border-radius: 2rem;
}
.bgColor-blue{
    background-color: #0a2472;
    color: white;
    width: 100%;
}

.rating-container{
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin-left: 25px;

}

.form-container{
    width: 100%;
}



