<app-header class="header" [currentText]="'Home'" [bgColor]="'bgColor-blue'" [visibility]="'show'"></app-header>

<div class="main-screen-container">
    <div class="button-container">
        <app-needy-button [text]="'View Helpers'" [bgColor]="'bgColor-blue'" class="button-needy"></app-needy-button>
        <div class="center-or">
            <p class="my-1 px-1 or">or</p>
        </div>
        <app-needy-button [text]="'View Needs'" [bgColor]="'bgColor-blue'" class="button-needy"></app-needy-button>
    </div>
</div>

<app-navbar></app-navbar>
