.main-screen-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-needy{
    width: 80vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-or{
    color: #0a2472;
    font-weight: bold;
}
