<app-header class="header white" [currentText]="'Home'" [bgColor]="'bgColor-blue'" [visibility]="'show'"></app-header>

<div class="main-screen-container">
    <div class="button-container">
        <app-button [text]="'View Helpers'" 
            [bgColor]="'bgColor-blue'" 
            class="button-needy"
            (click)="redirectToSearchPage(1)">
        </app-button>
        <div class="center-or">
            <p class="my-1 px-1 or">or</p>
        </div>
        <app-button [text]="'View Needs'" 
            [bgColor]="'bgColor-blue'" 
            class="button-needy"
            (click)="redirectToSearchPage(0)">
        </app-button>
    </div>
</div>

<app-navbar></app-navbar>
