.bgColor-blue{
    background-color: #0a2472;
    color: white;
    width: 100%;
}

.bgColor-white{
    background-color: white;
    width: 100%;
    color:  #0a2472 ;
}

.bgColor-lightBlue{
    background-color: #a0bed4;
    width: 100%;
    color: white;
}